.about-section {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10rem auto;
  gap: 2rem;
}

.about-section section {
  width: calc((1200px - 32px) / 2);
  background-color: var(--grey-color);
  padding: 1.5rem;
  border-radius: 2rem;
  padding-bottom: 1rem;
  border: 0.5rem solid var(--card-bg);
  box-shadow: 5px 5px 3px var(--white-color);
}

.about-section h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: var(--blue-color);
}

.about-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.about-skills li {
  list-style: none;
  padding: 1rem;
  background-color: var(--card-bg);
  border-radius: 2rem;
  letter-spacing: 0.3px;
  color: var(--blue-color);
  font-weight: 700;
  border: 0.3rem solid var(--white-color);
}

.about-me p {
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: #10141d;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-skills h2 {
  align-self: flex-start;
}
