*,
*::after,
*::before {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient-border: linear-gradient(to right, #8a2be2, #0000ff, #9aa4b2);
  --gradient-text: linear-gradient(90deg, #0000ff, #8a2be2);
  --grey-color: #9aa4b2;
  --blue-color: #0000ff;
  --purple-color: #8a2be2;
  --white-color: #eef1f6;
}

body {
  background-color: black;
  color: white;
}

header .animated-border {
  height: 0.5rem;
  background: var(--gradient-border);
  background-size: 800% 800%;
  animation: gradient 20s ease-in infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}
