nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

nav h1 {
  padding-left: 3rem;
  letter-spacing: 0.5px;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 3rem;
}

nav ul li {
  list-style: none;
}

nav a {
  color: var(--grey-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

nav a:hover {
  color: var(--white-color);
}
