@media screen and (min-width: 901px) {
  .container {
    max-width: 900px;
  }

  .home-content {
    max-width: 900px;
  }

  .home-content h2 {
    font-size: 3rem;
  }

  .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content p {
    font-size: 2rem;
    width: 600px;
  }

  .home-btns {
    flex-direction: row;
  }
}

@media screen and (min-width: 1901px) {
  .container {
    max-width: 1900px;
  }

  nav {
    padding: 1.5rem;
  }
  nav h1 {
    padding-left: 3rem;
    letter-spacing: 0.5px;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  nav .desktop-nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 3rem;
  }
  nav .menu-icon {
    display: none;
  }

  nav .modal {
    display: none;
  }

  nav .desktop-nav {
    display: block;
  }

  .home-page {
    height: 100vh;
  }

  .home-content h2 {
    font-size: 4rem;
  }

  .home-content {
    z-index: 1;
  }

  .home-content h3 {
    font-size: 3rem;
  }

  .home-content p {
    font-size: 2rem;
    width: 700px;
  }
}
